.ofGame
{
    width:150;
    height:150;
    
    background: linear-gradient(#c3eaf0,#4bb0c2);
    font-size: 80px;
    font-family: "Comic Sans MS";
    border: none;
    border-radius:30%;
}
.ofGame:hover{
    box-shadow: 0px 0px 40px rgb(54, 173, 228);
    text-shadow: 0px 0px 80px rgb(54, 173, 228);
}
h1
{
    background: linear-gradient(to left,#2cc4d8,#AED6F1);
    font-family: "Algerian";
    color:#FFFFFF;
    text-shadow: 10px 10px 10px rgb(64, 63, 68) , 0px 0px 0px rgb(64, 63, 68);/* x,y,spread,color*/
    font-size:60px;
    text-align: center;
    border: none;
    border-radius: 50px;
    
}
body
{
    background: radial-gradient(#1F618D,#33ebc6);
}
#panel
{
    position: absolute;
    left :50%;
    
    /*margin: -0px 0 0 -225px;*/
    transform: translateX(-50%);
    min-width:460;
    
}
#reload
{
    font-size: 65;
    width: 460;
    height: 100;
    position: absolute;
    background: radial-gradient(#A2D9CE,#116cad);
    font-family:"Algerian";
    border: none;
    border-radius: 60%;
    
    
}
#reload:hover{
    box-shadow: 0px 0px 80px rgb(230, 28, 28);
}
@keyframes Transit
{
    from
    {
        
    }
    to
    {

    }
}